/** Variables **/
html {
    /* Taskbar */
    --taskbar-height: 50px;
    --taskbar-icon-margin: 4px;
    --taskbar-radius: 8px;
    --taskbar-gap: 8px;

    /* Window */
    --window-header-height: 12px;
    --window-header-button-width: 100px;
    --window-radius: 8px;
    --window-gap: 8px;
    --window-fade-speed: 0.5s;

    /* Notification */
    --notification-popup-gap: 8px;
    --notification-popup-radius: 8px;
    --notification-popup-icon-size: 24px;

    /* Radi */
    --border-radius: 8px;

    /* Gaps */
    --gap: 8px;

    /* Brand Colours */
    --brand-color: #fec224;
    --brand-text-color: #000;
    --brand-color-alt: #fff;
    --selector-color: #0060df;
    --selector-text-color: #fff;
}

@media (prefers-color-scheme: light) {
    html {
        /* Colours */
        --primary-color: #f9f9f9;
        --secondary-color: #f2f2f2;
        --tertiary-color: #dedede;

        /* Text Colours */
        --primary-text-color: #060606;
        --secondary-text-color: #0d0d0d;
        --tertiary-text-color: #212121;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        /* Colours */
        --primary-color: #181818;
        --secondary-color: #212121;
        --tertiary-color: #303134;

        /* Text Colours */
        --primary-text-color: #e7e7e7;
        --secondary-text-color: #dedede;
        --tertiary-text-color: #cfcecb;
    }
}

/* Page Setup */
body {
    /* position */
    position: relative;

    /* sizing */
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;

    /* style */
    background-color: var(--primary-color);
}

*,
*::before,
*::after {
    /* changes sizing */
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Taskbar */
.taskbar {
    /* position */
    position: absolute;
    z-index: 9999;
    bottom: var(--taskbar-gap);
    left: var(--taskbar-gap);
    right: var(--taskbar-gap);

    /* sizing */
    height: var(--taskbar-height);

    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--taskbar-gap);
    justify-content: space-between;
}

.taskbar-main-container {
    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--taskbar-gap);

    /* sizing */
    width: fit-content;
}

.taskbar-container {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--taskbar-radius);
}

.taskbar-item {
    /* styling */
    background-color: transparent;
    outline: none;
    border-radius: var(--taskbar-radius);
    color: var(--primary-text-color);
    fill: currentColor;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing */
    width: calc(var(--taskbar-height) - (2 * var(--taskbar-icon-margin)) + 8px);
    height: calc(var(--taskbar-height) - (2 * var(--taskbar-icon-margin)));
    margin: var(--taskbar-icon-margin);
}

.taskbar-item:hover,
.taskbar-item:focus {
    /* styling */
    background-color: var(--secondary-color);
    outline: none;
}

.taskbar-item:active {
    /* styling */
    background-color: transparent !important;
    outline: calc(var(--taskbar-icon-margin) / 2) solid var(--secondary-color);
    color: var(--secondary-color);
}

.taskbar-item svg {
    height: calc(var(--taskbar-height) / 2) !important;
    width: calc(var(--taskbar-height) / 2) !important;
}

/* AVA */
#taskbar-item-ava {
    width: calc((var(--taskbar-height) * 2) - (2 * var(--taskbar-icon-margin)));
    height: calc(var(--taskbar-height) - (2 * var(--taskbar-icon-margin)));
}

#taskbar-item-ava svg {
    height: calc(var(--taskbar-height) / 2) !important;
    width: var(--taskbar-height) !important;
}

/* /AVA */

/* Taskbar Hide */
#taskbar-hide .taskbar-item {
    width: calc((var(--taskbar-height) - (2 * var(--taskbar-icon-margin)) + 8px) / 4);
}

/* Taskbar Clock */
#taskbar-time .taskbar-item {
    width: calc((var(--taskbar-height) * 2) - (2 * var(--taskbar-icon-margin)));
    height: calc(var(--taskbar-height) - (2 * var(--taskbar-icon-margin)));
    text-decoration: none;
}

.taskbar-clock {
    /* spacing */
    margin: 0;

    /* font styling */
    font-size: 13px;
    font-weight: 600;
    line-height: 1;

    /* styling */
    cursor: default;
    user-select: none;
}

.taskbar-clock#taskbar-clock-time {
    font-size: 17px;
}

/* Notifactions Icons */
#taskbar-notifications .taskbar-item {
    /* position */
    position: relative;
}

.notification-icon {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* hiding & animation */
    opacity: 0;
    transition: opacity var(--window-fade-speed);
}

.notification-icon.visible {
    opacity: 1;
}

/* Notification Popup */
.notification-popup-content-pad {
    /* positioning */
    position: absolute;
    right: var(--taskbar-gap);
    bottom: calc(var(--taskbar-height) + (var(--taskbar-gap) * 2));

    /* sizing */
    width: 400px;
    height: fit-content;
    padding: calc(var(--notification-popup-gap) / 2);

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--notification-popup-radius);
    text-decoration: none;
    color: var(--primary-text-color);

    /* hiding & animation */
    transform: translateX(110%);
    transition: transform 0.5s;
}

.notification-popup-content-pad.visible {
    transform: translateX(0);
}

.notification-popup-content {
    /* sizing */
    width: 100%;
    height: fit-content;
    padding: var(--notification-popup-gap);

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--notification-popup-radius);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--notification-popup-gap);
}

.notification-popup-image-container,
.notification-panel-item-image-container {
    /* sizing */
    width: 100%;
    aspect-ratio: 16 / 9;

    /* styling */
    border-radius: var(--notification-popup-radius);
    overflow: hidden;
}

.notification-popup-image-container.hidden,
.notification-panel-item-image-container.hidden {
    display: none;
}

.notification-popup-image,
.notification-panel-item-image {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    object-fit: contain;
}

.notification-popup-content-lower,
.notification-panel-item-content-lower {
    /* sizing */
    width: 100%;
    height: fit-content;

    /* flex */
    display: flex;
    flex-direction: row;
    gap: var(--notification-popup-gap);
}

.notification-popup-content-left,
.notification-panel-item-content-left {
    width: var(--notification-popup-icon-size);
    flex-shrink: 0;
}

.notification-popup-content-left img,
.notification-panel-item-content-left img {
    width: 100%;
}

.notification-popup-content-left.hidden,
.notification-panel-item-content-left.hidden {
    display: none;
}

.notification-popup-content-right,
.notification-panel-item-content-right {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--notification-popup-gap) / 2);
}

.notification-popup-content-right h1,
.notification-panel-item-content-right h1 {
    /* spacing */
    margin: 0;

    /* text styling */
    line-height: 1;
    font-size: calc(var(--notification-popup-icon-size) * 0.8);
}

.notification-popup-content-right h2,
.notification-panel-item-content-right h2 {
    /* spacing */
    margin: 0;

    /* text styling */
    line-height: 1;
    font-size: calc(var(--notification-popup-icon-size) * 0.6);
}

.notification-popup-content-right p,
.notification-panel-item-content-right p {
    /* spacing */
    margin: 0;

    /* text styling */
    line-height: 1;
    font-size: calc(var(--notification-popup-icon-size) * 0.75);
}

/* Notification Panel */
.notification-panel {
    /* positioning */
    position: absolute;
    top: var(--taskbar-gap);
    right: var(--taskbar-gap);
    bottom: calc(var(--taskbar-height) + (var(--taskbar-gap) * 2));

    /* sizing */
    height: -moz-available;
    width: fit-content;

    /* hiding & animation */
    transform: translateX(150%);
    transition: transform 0.5s;
}

.notification-panel.visible {
    transform: translateX(0);
}

.notification-panel-content-pad {
    /* sizing */
    /* padding: calc(var(--notification-popup-gap) / 2); */
    height: 100%;

    /* styling */
    /* background-color: var(--tertiary-color); */
    /* border-radius: var(--notification-popup-radius); */
}

.notification-panel-content {
    /* sizing */
    /* padding: calc(var(--notification-popup-gap) / 2); */
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    /* styling */
    /* background-color: var(--secondary-color); */
    /* border-radius: var(--notification-popup-radius); */

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--notification-popup-gap);
}

.notification-panel-item-content-pad {
    /* sizing */
    display: block;
    width: 400px;
    height: fit-content;
    padding: calc(var(--notification-popup-gap) / 2);

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--notification-popup-radius);
    text-decoration: none;
    color: var(--primary-text-color);
}

.notification-panel-item-content {
    /* sizing */
    width: 100%;
    height: fit-content;
    padding: var(--notification-popup-gap);

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--notification-popup-radius);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--notification-popup-gap);
}

.notifications-clear {
    /* sizing */
    width: 100%;
    height: calc(var(--notification-popup-icon-size) * 1.5);
    padding: calc(var(--notification-popup-gap) / 2);

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--notification-popup-radius);
    color: var(--primary-text-color);
}

.notifications-clear:hover .notification-clear-content,
.notifications-clear:focus .notification-clear-content {
    background-color: transparent;
}

.notifications-clear:active {
    background-color: var(--selector-color);
}

.notifications-clear:active .notification-clear-content {
    background-color: var(--secondary-color);
}

.notification-clear-content {
    /* sizing */
    width: 100%;
    height: 100%;

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--notification-popup-radius);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-clear-content h1 {
    /* text styling */
    text-align: center;
    font-size: 16px;
    line-height: 1;
}

/* Start Menu */
.start-menu {
    /* positioning */
    position: absolute;
    bottom: calc(var(--taskbar-height) + (2 * var(--taskbar-gap)));
    left: var(--taskbar-gap);
    z-index: 2;

    /* sizing */
    height: 500px;
    width: 725px;
    padding: var(--taskbar-gap);
    overflow: hidden;

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--taskbar-gap);

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--taskbar-radius);

    /* hiding & animation */
    transform: translateX(calc(-100% - 16px));
    transition: transform 1s;
}

.start-menu.visible {
    transform: translateX(0);
}

.start-menu-close {
    /* positioning */
    position: absolute;
    z-index: 1;

    /* sizing */
    width: 100%;
    height: 100%;

    /* display */
    display: none;
}

.start-menu-close.visible {
    display: block;
}

.start-menu-left {
    /* sizing */
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--taskbar-gap);
}

.start-menu-applications-section {
    /* sizing */
    width: 250px;
    height: calc(100% - var(--taskbar-height) - var(--taskbar-gap));
    padding: var(--taskbar-gap);

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--taskbar-radius);
}

.start-menu-applications {
    /* sizing */
    overflow-y: scroll;
    height: 100%;
    padding-right: calc(var(--taskbar-gap) / 2);

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--taskbar-gap) / 2);

    border-radius: var(--taskbar-radius);
}

.start-menu-application {
    /* sizing */
    width: 100%;
    height: calc(var(--taskbar-height) / 1.2);
    flex-shrink: 0;
    padding: 0 calc(var(--taskbar-gap) / 2);

    /* flex */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: var(--taskbar-gap);

    /* styling */
    background-color: transparent;
    border-radius: var(--taskbar-radius);
    border: calc(var(--taskbar-icon-margin) / 2) solid transparent;
    color: var(--secondary-text-color) !important;

    /* text styling */
    text-decoration: none !important;
}

.start-menu-application:hover,
.start-menu-application:focus {
    /* styling */
    background-color: var(--tertiary-color);
    border: calc(var(--taskbar-icon-margin) / 2) solid var(--tertiary-color);
    outline: none;
}

.start-menu-application:active {
    /* styling */
    background-color: transparent !important;
    border: calc(var(--taskbar-icon-margin) / 2) solid var(--tertiary-color);
    color: var(--tertiary-color);
}

.start-menu-application img {
    height: calc(var(--taskbar-height) / 1.5);
    aspect-ratio: 1/1;
    object-fit: contain;
}

.start-menu-application h3 {
    /* sizing */
    margin: 0;

    /* text styling */
    font-size: 15px;
    line-height: 2;

    /* text cutoff */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.start-menu-pins {
    /* sizing */
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: var(--taskbar-gap);

    /* grid */
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    gap: var(--taskbar-gap);
}

.start-menu-pin {
    /* sizing */
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    aspect-ratio: 1 / 1;

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--taskbar-radius);
    cursor: pointer;
    color: var(--primary-text-color) !important;
    font-weight: 600;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-menu-pin-xcwalker {
    grid-column: 1 / span 4;
    aspect-ratio: unset;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* styling */
    color: var(--primary-text-color);
    fill: currentColor;
}

.start-menu-power {
    /* sizing */
    height: var(--taskbar-height);
    width: 100%;
    padding: calc(var(--taskbar-gap) / 1.5) 0;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--taskbar-radius);
}

.start-menu-power-option {
    /* sizing */
    height: 100%;
    aspect-ratio: 1/1;

    /* styling */
    border-radius: 50%;
    background-color: transparent;
    fill: currentColor;
    color: var(--primary-text-color);

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-menu-power-option:hover,
.start-menu-power-option:focus {
    /* styling */
    background-color: var(--tertiary-color);
}

.start-menu-power-option:active {
    /* styling */
    background-color: transparent !important;
    color: var(--tertiary-color);
    outline: 2px solid var(--tertiary-color);
}

.start-menu-power-option svg {
    width: calc(100% - (var(--taskbar-gap) * 1.2));
    height: calc(100% - (var(--taskbar-gap) * 1.2));
}

/* AVA */
.ava {
    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    /* sizing */
    width: 350px;
    height: 150px;

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--taskbar-radius);
    color: var(--primary-text-color);
    fill: currentColor;

    /* hiding & animation */
    opacity: 0;
    transition: opacity 0.3s;
}

.ava.hidden {
    top: -999%;
    left: -999%;
}

.ava.visible {
    /* hiding & animation */
    opacity: 1;
}

.ava-window {
    /* sizing */
    margin: calc(var(--window-gap) / 2);
    width: calc(100% - var(--window-gap));
    height: calc(100% - var(--window-gap));

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--taskbar-radius);

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ava svg {
    width: 50%;
}

/* taskbar search */
#taskbar-search-input {
    /* styling */
    background-color: transparent;
    outline: none;
    border-radius: var(--taskbar-radius);
    color: var(--primary-text-color);
    fill: currentColor;
    border: none;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing */
    /* width: calc(var(--taskbar-height) * 6); */
    height: calc(var(--taskbar-height) - (2 * var(--taskbar-icon-margin)));
    /* margin: var(--taskbar-icon-margin); */
    /* padding: var(--taskbar-gap) calc(var(--taskbar-gap) * 2); */

    /* font styling */
    font-size: 18px;
    line-height: 1;
    font-weight: 700;

    /* text cutoff */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    /* hidden & animations */
    /* transition: transform 1s;
    transform-origin: left;
    transform: scaleX(0); */
    transition: width 1s, padding 0.5s 0.5s, margin 0.5s 0.5s;
    width: 0;
    padding: 0;
    margin: 0;
}

#taskbar-search-input.visible {
    /* transform: scaleX(1); */
    width: calc(var(--taskbar-height) * 6);
    padding: var(--taskbar-gap) calc(var(--taskbar-gap) * 2);
    margin: var(--taskbar-icon-margin);
    transition-delay: 0s !important;
}

/* Window */
.window {
    /* position */
    position: absolute;
    top: -999%;
    left: -999%;
    transform: translate(-50%, -50%);

    /* sizing */
    width: fit-content;
    height: fit-content;

    /* style */
    background-color: var(--tertiary-color);
    border-radius: var(--window-radius);
    color: var(--primary-text-color);

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* hiding & animation */
    opacity: 0;
    transition-property: opacity, top, left;
    transition-duration: var(--window-fade-speed), 0s, 0s;
    transition-delay: 0s, 2s, 2s;
}

.window.visible {
    /* sizing */
    overflow: visible;

    /* positioning */
    top: 50%;
    left: 50%;

    /* hiding & animation */
    opacity: 1;
    transition-delay: 0s;
}

.window.hidden {
    /* positioning */
    top: -999% !important;
    left: -999% !important;
}

.window-header {
    /* sizing */
    height: var(--window-header-height);
    width: 100%;

    /* positioning */
    position: relative;
    z-index: 1;
}

.window-header-centerbar {
    /* sizing */
    width: var(--window-header-button-width);
    height: calc(var(--window-header-height) / 2);

    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    /* styling */
    border-radius: var(--window-radius);
    background-color: var(--primary-color);
}

.window-header-options {
    /* positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    /* sizing */
    width: 0;
    height: 0;

    /* styling */
    border-radius: var(--window-radius);
    background-color: var(--secondary-color);
    outline: 2px solid var(--tertiary-color);
    fill: currentColor;

    /* text styling */
    text-decoration: none !important;

    /* hiding & animation */
    opacity: 0;
    transition: opacity 0.5s, width 0s 1s, height 0s 1s;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.window-header-options.visible {
    /* hiding & animation */
    opacity: 1;
    transition-delay: 0s;

    /* sizing */
    width: calc(var(--window-header-button-width) * 1.5);
    height: calc(var(--window-header-height) * 2.5);

}

.window-header-options.visible .window-header-option {
    /* sizing */
    height: calc(var(--window-header-height) * 2);
    aspect-ratio: 1/1;
    padding: calc(var(--window-gap) / 4);
}

.window-header-option {
    /* sizing */
    height: 0;
    aspect-ratio: 1/1;

    /* styling */
    color: var(--tertiary-text-color) !important;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
}

.window-header-option:active {
    background-color: transparent !important;
    color: var(--tertiary-color) !important;
    outline: 2px solid var(--tertiary-color) !important;
}

.window-header-option:hover,
.window-header-option:focus {
    background-color: var(--tertiary-color);
    outline: none;
}

.window-content {
    /* sizing */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.window-content.no-scroll {
    overflow: hidden !important;
}

.window-content-pad {
    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--window-radius);

    /* sizing */
    height: 250px;
    width: 500px;
    min-height: 250px;
    min-width: 500px;

    /* spacing */
    padding: var(--window-gap) calc(var(--window-gap) * 2);
    margin: calc(var(--window-gap) / 2);
    margin-top: 0;

    overflow: hidden;
    resize: both;
}
